
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST"  action="#">
<div class="container">
    <div classs="card">
        <div class="card-header">
        <h2 align="center">Signup Form</h2>
        </div>
        <div class='card-body'>
            {% csrf_token %}
            <!-- {{ forms.as_p }} -->
            {{form|crispy}}
        </div>
        <div class='card-footer'>
            <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>

</div>
</form>
{% endblock %}